<nav>
    <img src="assets/logo1.png" alt="logo" class="Logo">
    <ul>
      <li>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" id="home-link" rel="noopener" [routerLink]="['/']" title="Home">Home</a>
      </li>
      <li>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/quiz-page']" title="Take a Quiz">Take a Quiz</a>
      </li>
      <li>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/']" title="About">About</a>
      </li>
    </ul>
  </nav>
  